body{
    margin:0;
    font-family: Arial;
    background:#f5f5f5;
}

/* HEADER */
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    padding:15px 40px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#ff6a00;
}

/* SEARCH */
.search-box{
    display:flex;
    width:50%;
}

.search-box input{
    width:100%;
    padding:10px;
    border:2px solid #ff6a00;
    border-right:none;
    border-radius:5px 0 0 5px;
}

.search-box button{
    background:#ff6a00;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:0 5px 5px 0;
    cursor:pointer;
}

/* LAYOUT */
.container{
    display:flex;
}

/* SIDEBAR */
.sidebar{
    width:250px;
    background:white;
    padding:20px;
    
}

.sidebar ul{
    list-style:none;
    padding:0;
}

.sidebar li{
    padding:10px;
    border-bottom:1px solid #eee;
    cursor:pointer;
}

.sidebar li:hover{
    background:#f3f3f3;
}

/* PRODUCTS */
.products{
    flex:1;
    padding:20px;
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:15px;
    text-align:center;
    border-radius:8px;
    box-shadow:0 2px 6px rgba(0,0,0,0.1);
}

.card img{
    width:100%;
}

.card button{
    background:#ff6a00;
    color:white;
    border:none;
    padding:8px 15px;
    margin-top:10px;
    cursor:pointer;
    border-radius:5px;
}

